.open-startup{
  &.title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  &.chart-container{
    position: relative;
    height:80vh;
    width:50vw
  }

  &.chart{
    margin-bottom: 30px;
  }
}
